* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    white-space: normal;
}

body,html {
    height: 100%;
    background-color: #dde3ed;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #0a0c0f;
}

.card-body ul,.card-body ol {
    margin: 0 1rem;
}

a {
    color: #3e4857;
}
a:hover {
    color: #d42715;
}
a:visited {
    color: #3e4857;
}
h1,h2,h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    text-align: left;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
    font-weight: 700;
}

small {
    font-weight: normal;
    font-size: .7em;
}

.emp {
    font-size: 1.3rem;
    font-weight: 500;
}

.tcenter {
    text-align: center;
}
.fright { /*heh*/
    float: right;
    text-align: right;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
.va-top {
    vertical-align: top;
}

nav#topNav {
    position: fixed;
    z-index: 100;
    top: 0;
    display: block;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    background-color: #262a30;
    border-top: 5px solid #dde3ed;
    box-sizing: border-box;
}

#topNavBack {
    font-family: 'Titillium Web', sans-serif;
    color: transparent;
    padding: 15px;
    border-top: 5px solid transparent;
    transition: padding 200ms;
}

nav#topNav ul {
    display: inline;
    list-style-type: none;
    font-size: 0;
    transition: margin 200ms;
}
nav#topNav ul li {
    display: inline-block;
    width:120px;
    font-size: 1rem;
    text-align: center;
}
nav#topNav ul li:last-child a {
    border-right: 1px solid #dde3ed;
}
nav#topNav ul li a {
    border-left: 1px solid #dde3ed;
    color: #f2f5f7;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
    transition: padding 200ms;
}
nav#topNav ul li a:hover, nav#topNav ul li a.active {
    background-color: #0a0c0f;
}
nav#topNav.shrink {
    /*border-top: 3px solid #f2f5f7;*/
    border-top: none;
}
nav#topNav.shrink ul li a, #topNavBack.shrink {
    padding: 3px 0;
}

#helloDiv {
    font-size: 0;
    width: 100%;
    background-color: #262a30;
    background-image: url("../img/backgrSection.png");
    background-position: center;
}
#helloDivInner {
    padding: 120px 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

section {
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    text-align: center;
}
section.scrollPt {
    font-size: 0;
}
section.scrollPt section {
    padding: 1rem;
}

hr {
    margin-bottom: 2rem;
}

img#welcomePic {
    max-width: 90%;
    height: auto;
    border: 5px solid #0a0c0f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*box-shadow: -2px 2px 5px 2px #262a30;*/
    margin: 0 auto;
}

.prj-plan {
    color: #ad9600;
}
.prj-plan:after {
    content: "Planning";
    font-style: italic;
    padding-left: 5px;
    font-size: .5em;
}
.prj-wip {
    color: #2674c3;
}
.prj-wip:after {
    content: "Work in Progress";
    font-style: italic;
    padding-left: 5px;
    font-size: .5em;
}
.prj-live {
    color: #00b58d;
}
.prj-live:after {
    content: "Completed-Active";
    font-style: italic;
    padding-left: 5px;
    font-size: .5em;
}
.prj-compl {
    color: #0bb500;
}
.prj-compl:after {
    content: "Completed-Done";
    font-style: italic;
    padding-left: 5px;
    font-size: .5em;
}

section#linkSct {
    height: 100vh;
    position: relative;
}
#linkSctContent {
    font-size: 1rem;
}
#linkSctContent * {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
#linkSctContent .linkinfo {
    font-size: .8rem;
    font-weight: lighter;
    font-style: italic;
}

#footer {
    font-size: .8rem;
    position: absolute;
    bottom: 0;
    padding: 5px;
    text-align: center;
    background-color: #262a30;
    color: #f2f5f7;
    display: block;
    width: 100%;
    margin-left: -2rem;
    /*border-bottom: 5px solid #dde3ed;*/
    overflow: hidden;
    box-sizing: border-box;
}

.card {
    font-size: 1rem;
    text-align: left;
    box-sizing: border-box;
    padding: 1rem;
    display: inline-block;
    vertical-align: top;
    width: 98%;
    margin: 1rem 1%;
}
.card-body {
    border-top: 1px solid #262a30;
    margin-top: 5px;
    padding-top: 3px;
}
.card-em {
    box-shadow: 0 0 3px 1px #262a30;
    background-color: #e3e6e8;
}
.card-half {
    width: 48%;
}
.card-1third {
    width: 31%;
}
.card-2third {
    width: 64%;
}
.card-1qtr {
    width: 23%;
}
.card-3qtr {
    width: 73%;
}
.card-1fif {
    width: 18%;
}
.card-2fif {
    width: 38%;
}
.card-3fif {
    width: 58%;
}
.card-4fif {
    width: 78%;
}


