html {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    color: white;
    height: 100%;
}

#app {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

#mainRow {
    height: 100%;
}

.headerRow {
    margin: 1rem auto 2rem;
}

.headerRow a {
    color: white;
}
.headerRow a:hover {
    color: whitesmoke;
}

.inputSide {
    background-color: #c6c6c6;
    height: 100%;
}

#leftSelects {
    margin-top: 6rem;
}
#leftSelects .selectBtn {
    display: block;
}

.selectBtn {
    margin: .3rem;
    padding: .5rem .8rem;
    background-color: #D3D3D3;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    border-radius: .3rem;
    border: .3rem solid transparent;
}
.selectBtn img {
    width: 3rem;
    height: auto;
    display: block;
    pointer-events: all;
}
.selectBtn:hover {
    background-color: white;
}
.selectBtn.selected {
    background-color: white;
    border: .3rem solid #E07567;
}

table#punnetTable {
    margin: 0 auto;
    font-size: 2rem;
    color: #585858;
    border-spacing: 5px;
    border-collapse: separate;
}
table#punnetTable td {
    background-color: white;
}
table#punnetTable th,table#punnetTable td {
    padding: 1rem 2rem;
}
table#punnetTable td img {
    width: 5rem;
    height: auto;
    display: block;
}

#punnetTable td.br-tl {
    border-top-left-radius: .5rem
}
#punnetTable td.br-tr {
    border-top-right-radius: .5rem;
}
#punnetTable td.br-bl {
    border-bottom-left-radius: .5rem;
}
#punnetTable td.br-br {
    border-bottom-right-radius: .5rem;
}

.outputSide {
    background-color: #d3d3d3;
    height: 100%;
}

.dataText {
    color: #585858;
}

#phenoTblContainer {
    margin-top: 6rem;
}

#phenoTable {
    border: 0;
    border-collapse: collapse;
    color: #585858;
    background-color: transparent;
    margin: 0 auto;
}
#phenoTable th.leftHead {
    border-right: .2rem solid #585858;
    padding: 0 .2rem 1rem 1rem;
}
#phenoTable th.phenoFoot {
    border-top: .2rem solid #585858;
}
#phenoTable td {
    padding: 0 2rem;
}
#phenoTable td.yellow{
    background-color: #EFCE22;
    border-left: .2rem solid white;
    border-right: .2rem solid white;
}
#phenoTable td.green{
    background-color: #65B14F;
    border-left: .2rem solid white;
    border-right: .2rem solid white;
}

#phenoTable td.top {
    border-top: .2rem solid white;
}